@keyframes move-tail {
  0% {
    transform: rotate(-10deg); }
  10% {
    transform: rotate(-6deg); }
  20% {
    transform: rotate(-2deg); }
  30% {
    transform: rotate(5deg); }
  40% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(15deg); }
  60% {
    transform: rotate(10deg); }
  70% {
    transform: rotate(5deg); }
  80% {
    transform: rotate(-2deg); }
  90% {
    transform: rotate(-6deg); }
  100% {
    transform: rotate(-10deg); } }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #022a31;
  overflow: hidden; }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px; }

.image-container {
  position: relative;
  flex-grow: 1; }

.caption-container {
  height: 50px; }

.pusheen-body {
  position: absolute;
  top: 300px;
  left: 90px;
  border-radius: 50%/60% 60% 40% 40%;
  width: 160px;
  height: 200px;
  box-shadow: 0px 0px 0px 5px #5d4f46;
  transform: rotate(-42deg); }

.pusheen-eyes, .pusheen-eyes::before {
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 9px;
  background: #5d4f46;
  border-radius: 50%; }

.pusheen-front-paw, .pusheen-front-paw::after, .pusheen-hind-paw, .pusheen-hind-paw::before {
  position: absolute;
  z-index: 3;
  width: 13px;
  height: 20px;
  background: #b5a89b;
  border-radius: 50%/60% 60% 40% 40%;
  box-shadow: 0px 3px 0px 2px #5d4f46; }

.pusheen-left-ear::after, .pusheen-left-ear::before, .pusheen-right-ear::after, .pusheen-right-ear::before {
  position: absolute;
  z-index: 3;
  width: 5px;
  height: 40px;
  background: #5d4f46; }

.pusheen-nose, .pusheen-nose::after, .pusheen-nose::before {
  position: absolute;
  z-index: 2;
  background: #5d4f46;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.pusheen-body::after, .pusheen-body::before {
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
  background: #716e6a;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.pusheen-head-stain, .pusheen-head-stain::after, .pusheen-head-stain::before {
  position: absolute;
  z-index: 4;
  width: 9px;
  height: 10px;
  background: #716e6a;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.pusheen-left-moustache, .pusheen-left-moustache::after, .pusheen-right-moustache, .pusheen-right-moustache::after {
  position: absolute;
  z-index: 4;
  width: 4px;
  height: 30px;
  background: #5d4f46; }

.pusheen-body {
  z-index: 1;
  background: #b5a89b; }
  .pusheen-body::after {
    content: '';
    top: 69px;
    left: 5px;
    transform: rotate(104deg); }
  .pusheen-body::before {
    content: '';
    top: 100px;
    left: 0px;
    transform: rotate(94deg); }

.pusheen-head-stain {
  top: 329px;
  left: 97px;
  transform: rotate(-42deg); }
  .pusheen-head-stain::after {
    content: '';
    top: 0px;
    left: 10px;
    transform: rotate(4deg); }
  .pusheen-head-stain::before {
    content: '';
    top: 1px;
    left: 20px;
    transform: rotate(6deg); }

.pusheen-eyes {
  top: 350px;
  left: 100px; }
  .pusheen-eyes::before {
    content: '';
    top: -30px;
    left: 35px; }

.pusheen-nose {
  top: 338px;
  left: 122px;
  width: 7px;
  height: 8px;
  transform: rotate(-40deg); }
  .pusheen-nose::after {
    content: '';
    top: 3px;
    left: -8px;
    width: 7px;
    height: 10px;
    transform: rotate(-55deg); }
  .pusheen-nose::before {
    content: '';
    top: 3px;
    left: 8px;
    width: 7px;
    height: 10px;
    transform: rotate(55deg); }

.pusheen-mouth {
  position: absolute;
  z-index: 2;
  top: 345px;
  left: 128px;
  width: 4px;
  height: 4px;
  background: #b5a89b;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #5d4f46; }

.pusheen-left-moustache {
  top: 290px;
  left: 158px;
  transform: rotate(35deg); }
  .pusheen-left-moustache::after {
    content: '';
    top: 0px;
    left: 13px;
    transform: rotate(15deg); }

.pusheen-right-moustache {
  top: 355px;
  left: 75px;
  transform: rotate(65deg); }
  .pusheen-right-moustache::after {
    content: '';
    top: 0px;
    left: 13px;
    transform: rotate(-15deg); }

.pusheen-left-ear {
  position: absolute;
  z-index: 3;
  top: 271px;
  left: 105px;
  border: 20px solid transparent;
  border-bottom: 30px solid #b5a79a;
  transform: rotate(-23deg); }
  .pusheen-left-ear::after {
    content: '';
    top: -6px;
    left: 8px;
    border-top-right-radius: 5px;
    transform: rotate(-41deg); }
  .pusheen-left-ear::before {
    content: '';
    height: 25px;
    top: -4px;
    left: -11px;
    border-top-left-radius: 5px;
    transform: rotate(35deg); }

.pusheen-right-ear {
  position: absolute;
  z-index: 3;
  top: 310px;
  left: 55px;
  border: 20px solid transparent;
  border-bottom: 30px solid #b5a79a;
  transform: rotate(-55deg); }
  .pusheen-right-ear::after {
    content: '';
    height: 29px;
    top: -6px;
    left: 5px;
    border-top-right-radius: 5px;
    transform: rotate(-38deg); }
  .pusheen-right-ear::before {
    content: '';
    top: -7px;
    left: -14px;
    border-top-left-radius: 5px;
    transform: rotate(35deg); }

.pusheen-front-paw {
  top: 390px;
  left: 160px;
  transform: rotate(240deg); }
  .pusheen-front-paw::after {
    content: '';
    top: 70px;
    left: 50px;
    transform: rotate(-70deg); }

.pusheen-hind-paw {
  top: 455px;
  left: 205px;
  transform: rotate(200deg); }
  .pusheen-hind-paw::before {
    content: '';
    top: 55px;
    left: -35px;
    transform: rotate(20deg); }

.pusheen-tail {
  position: absolute;
  z-index: 0;
  top: 410px;
  left: 200px;
  width: 20px;
  height: 130px;
  background: repeating-linear-gradient(#b5a79a, #b5a79a 10%, #706d69 10%, #706d69 20%);
  border-radius: 40% 40% 40% 40%;
  box-shadow: 0px 5px 0px 5px #5e5047;
  animation: move-tail 2s linear infinite; }

.ball-first, .ball-second, .ball-third {
  position: absolute;
  width: 140px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #5d4f46; }

.ball-first::after, .ball-second::after, .ball-third::after {
  content: '';
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #5d4f46;
  top: 105px;
  left: 65px; }

.ball-first::before, .ball-second::before, .ball-third::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 200px;
  background: #5d4f46;
  top: 105px; }

.ball-first {
  top: 80px;
  left: 40px;
  background: #abd8ce;
  transform: rotate(-10deg); }
  .ball-first::after {
    background: #abd8ce; }
  .ball-first::before {
    left: 110px;
    transform: rotate(-20deg); }

.ball-second {
  z-index: 2;
  top: 20px;
  left: 130px;
  background: #f7a1c3; }
  .ball-second::after {
    background: #f7a1c3; }
  .ball-second::before {
    left: 72px; }

.ball-third {
  top: 100px;
  left: 230px;
  background: #fddb8b;
  transform: rotate(20deg); }
  .ball-third::after {
    top: 100px;
    left: 50px;
    background: #fddb8b; }
  .ball-third::before {
    left: 40px;
    transform: rotate(10deg); }

@font-face {
  font-family: 'Caveat', cursive;
  src: url("https://fonts.googleapis.com/css?family=Caveat"); }

.caption-text {
  text-align: center;
  color: #5d4f46;
  font-family: 'Caveat', cursive;
  font-size: 30px; }
