doctype html
html(lang="en")
	head
		link(href="css/style.css", rel="stylesheet")
		title Let's party  
	body
		.wrapper
			.sky
				.star-small
				.star-mediun
				.star-big
			.content
				.image-container
					.ball-first
					.ball-second
					.ball-third
					.pusheen-body
					.pusheen-eyes
					.pusheen-nose
					.pusheen-mouth
					.pusheen-left-moustache
					.pusheen-right-moustache
					.pusheen-head-stain
					.pusheen-left-ear
					.pusheen-right-ear
					.pusheen-front-paw
					.pusheen-hind-paw
					.pusheen-tail
				.caption-container
					.caption-text Let's party!