doctype html
html(lang="en")
	head
		link(href="css/style.css", rel="stylesheet")
		title Let's party  
	body
		.wrapper
			.content
				.image-container
					.ball-first
					.ball-second
					.ball-third
				.caption-container
					.caption-text Let's party!
