@keyframes move-tail {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(-6deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
