@keyframes move-tail {
  0% {
    transform: rotate(-10deg);
  }
  10% {
    transform: rotate(-6deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

@keyframes starry-sky {
  0% {
    opacity: 0;
    transform: translateY(0vh);
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(50vh);
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
