@font-face {
  font-family: 'Caveat', cursive;
  src: url('https://fonts.googleapis.com/css?family=Caveat');
}

.caption-text {
  text-align: center;
  color: $contour-brown;
  font-family: 'Caveat', cursive;
  font-size: 30px;
}
