%pusheen-body-shared {
  position: absolute;
  background: $fill-beige;
  border-radius: 50%/60% 60% 40% 40%;
}

%pusheen-eyes-shared {
  position: absolute;
  z-index: 4;
  width: 9px;
  height: 9px;
  background: $contour-brown;
  border-radius: 50%;
}

.pusheen-body {
  @extend %pusheen-body-shared;
  z-index: 3;
  top: 280px;
  left: 110px;
  width: 160px;
  height: 200px;
  box-shadow: 0px 0px 0px 5px $contour-brown;
  transform: rotate(-42deg);
}

.pusheen-eyes {
  @extend %pusheen-eyes-shared;
  top: 340px;
  left: 120px;
  &::before {
    content: '';
    @extend %pusheen-eyes-shared;
    top: -30px;
    left: 30px;
  }
}

.pusheen-nose {
  z-index: 3;
}

.pusheen-mouth {
  z-index: 3;
}

.pusheen-left-moustache {
  z-index: 3;
}

.pusheen-right-moustache {
  z-index: 3;
}

.pusheen-head-stain {
  z-index: 3;
}

.pusheen-left-ear {
  z-index: 3;
}

.pusheen-right-ear {
  z-index: 3;
}

.pusheen-front-paw {
  z-index: 3;
}

.pusheen-hind-paw {
  z-index: 3;
}

.pusheen-tail {
  z-index: 3;
}
