%pusheen-body-shared {
  position: absolute;
  z-index: 1;
  top: 300px;
  left: 90px;
  width: 160px;
  height: 200px;
  border-radius: 50%/60% 60% 40% 40%;
  background: $fill-beige;
  box-shadow: 0px 0px 0px 5px $contour-brown;
  transform: rotate(-42deg);
}

%pusheen-eyes-shared {
  position: absolute;
  z-index: 2;
  width: 9px;
  height: 9px;
  background: $contour-brown;
  border-radius: 50%;
}

%pusheen-paw-shared {
  position: absolute;
  z-index: 3;
  width: 13px;
  height: 20px;
  background: $fill-beige;
  border-radius: 50%/60% 60% 40% 40%;
  box-shadow: 0px 3px 0px 2px $contour-brown;
}

%pusheen-ear-shared {
  position: absolute;
  z-index: 3;
  width: 5px;
  height: 40px;
  background: $contour-brown;
}

%pusheen-nose-shared {
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 10px;
  background: $contour-brown;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

%pusheen-body-stain {
  position: absolute;
  z-index: 4;
  width: 20px;
  height: 20px;
  background: $stains;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

%pusheen-head-stain {
  position: absolute;
  z-index: 4;
  width: 9px;
  height: 10px;
  background: $stains;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

%pusheen-moustache {
  position: absolute;
  z-index: 4;
  width: 4px;
  height: 30px;
  background: $contour-brown;
}

.pusheen-body {
  @extend %pusheen-body-shared;
  &::after {
    content: '';
    @extend %pusheen-body-stain;
    top: 69px;
    left: 5px;
    transform: rotate(104deg);
  }
  &::before {
    content: '';
    @extend %pusheen-body-stain;
    top: 100px;
    left: 0px;
    transform: rotate(94deg);
  }
}

.pusheen-head-stain {
  @extend %pusheen-head-stain;
  top: 329px;
  left: 97px;
  transform: rotate(-42deg);
  &::after {
    content: '';
    @extend %pusheen-head-stain;
    top: 0px;
    left: 10px;
    transform: rotate(4deg);
  }
  &::before {
    content: '';
    @extend %pusheen-head-stain;
    top: 1px;
    left: 20px;
    transform: rotate(6deg);
  }
}

.pusheen-eyes {
  @extend %pusheen-eyes-shared;
  top: 350px;
  left: 100px;
  &::before {
    content: '';
    @extend %pusheen-eyes-shared;
    top: -30px;
    left: 35px;
  }
}

.pusheen-nose {
  @extend %pusheen-nose-shared;
  top: 338px;
  left: 122px;
  height: 8px;
  transform: rotate(-40deg);
  &::after {
    content: '';
    @extend %pusheen-nose-shared;
    top: 3px;
    left: -8px;
    transform: rotate(-55deg);
  }
  &::before {
    content: '';
    @extend %pusheen-nose-shared;
    top: 3px;
    left: 8px;
    transform: rotate(55deg);
  }
}

.pusheen-mouth {
  position: absolute;
  z-index: 2;
  top: 345px;
  left: 128px;
  width: 4px;
  height: 4px;
  background: $fill-beige;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px $contour-brown;
}

.pusheen-left-moustache {
  @extend %pusheen-moustache;
  top: 290px;
  left: 158px;
  transform: rotate(35deg);
  &::after {
    content: '';
    @extend %pusheen-moustache;
    top: 0px;
    left: 13px;
    transform: rotate(15deg);
  }
}

.pusheen-right-moustache {
  @extend %pusheen-moustache;
  top: 355px;
  left: 75px;
  transform: rotate(65deg);
  &::after {
    content: '';
    @extend %pusheen-moustache;
    top: 0px;
    left: 13px;
    transform: rotate(-15deg);
  }
}

.pusheen-left-ear {
  position: absolute;
  z-index: 3;
  top: 271px;
  left: 105px;
  border: 20px solid transparent;
  border-bottom: 30px solid $fill-beige;
  transform: rotate(-23deg);
  &::after {
    content: '';
    @extend %pusheen-ear-shared;
    top: -6px;
    left: 8px;
    border-top-right-radius: 5px;
    transform: rotate(-41deg);
  }
  &::before {
    content: '';
    @extend %pusheen-ear-shared;
    height: 25px;
    top: -4px;
    left: -11px;
    border-top-left-radius: 5px;
    transform: rotate(35deg);
  }
}

.pusheen-right-ear {
  position: absolute;
  z-index: 3;
  top: 310px;
  left: 55px;
  border: 20px solid transparent;
  border-bottom: 30px solid $fill-beige;
  transform: rotate(-55deg);
  &::after {
    content: '';
    @extend %pusheen-ear-shared;
    height: 29px;
    top: -6px;
    left: 5px;
    border-top-right-radius: 5px;
    transform: rotate(-38deg);
  }
  &::before {
    content: '';
    @extend %pusheen-ear-shared;
    top: -7px;
    left: -14px;
    border-top-left-radius: 5px;
    transform: rotate(35deg);
  }
}

.pusheen-front-paw {
  @extend %pusheen-paw-shared;
  top: 390px;
  left: 160px;
  transform: rotate(240deg);
  &::after {
    content: '';
    @extend %pusheen-paw-shared;
    top: 70px;
    left: 50px;
    transform: rotate(-70deg);
  }
}

.pusheen-hind-paw {
  @extend %pusheen-paw-shared;
  top: 455px;
  left: 205px;
  transform: rotate(200deg);
  &::before {
    content: '';
    @extend %pusheen-paw-shared;
    top: 55px;
    left: -35px;
    transform: rotate(20deg);
  }
}

.pusheen-tail {
  position: absolute;
  z-index: 0;
  top: 410px;
  left: 200px;
  width: 20px;
  height: 130px;
  background: repeating-linear-gradient(
    $fill-beige,
    $fill-beige 10%,
    $stains 10%,
    $stains 20%
  );
  border-radius: 40% 40% 40% 40%;
  box-shadow: 0px 5px 0px 5px $contour-brown;
  animation: move-tail 2s linear infinite;
}
