$background-deepgreen: hsl(189, 92%, 10%);
$star-white: hsl(0, 9%, 86%);
$ball-lightgreen: hsl(166, 37%, 76%);
$ball-lightpink: hsl(336, 84%, 80%);
$ball-lightyellow: hsl(42, 97%, 77%);
$text-brown: hsl(23, 14%, 32%);
$contour-ball-brown: 0px 0px 0px 5px hsl(23, 14%, 32%);
$contour-brown: hsl(23, 14%, 32%);
$fill-beige: hsla(29, 15%, 66%, 1);
$stains: hsl(34, 3%, 43%);
