$background-deepgreen: hsl(189, 92%, 10%);
$star-white: hsl(0, 0%, 100%);
$star-rainbow-pink: hsl(306, 100%, 60%);
$star-rainbow-yellow: hsl(50, 100%, 60%);
$star-rainbow-green: hsl(126, 100%, 60%);
$star-rainbow-blue: hsl(190, 100%, 60%);
$star-rainbow-violet: hsl(295, 92%, 25%);
$ball-lightgreen: hsl(166, 37%, 76%);
$ball-lightpink: hsl(336, 84%, 80%);
$ball-lightyellow: hsl(42, 97%, 77%);
$contour-brown: hsl(23, 14%, 32%);
$fill-beige: hsl(29, 15%, 66%);
